/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/HiztegiaSQLite/nbproject/private/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/HiztegiaSQLite/build/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/HiztegiaSQLiteMVC/nbproject/private/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/HiztegiaSQLiteMVC/build/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/StreamekinLanean/nbproject/private/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/StreamekinLanean/build/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/Bozetoa_HodeiOlivas/nbproject/private/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/Bozetoa_HodeiOlivass/nbproject/private/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/Bozetoa_HodeiOlivass/build/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/DIY_Garage_Erronka/nbproject/private/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/DIY_Garage_Erronka/build/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/AzkenHiztegia/nbproject/private/
/3. Ebaluaketa/Proiektua_HiztegiaSQLite (Oinarrizko JDBC eragiketak)/AzkenHiztegia/build/
